body {
 
    font-family: 'Oooh Baby', cursive;

   
}





h1 {
    font-size: 4rem;
    font-family: 'Oooh Baby', cursive;
    text-align: center;
    padding: 0;
    margin: 0%;

}

h2 {
  
    font-family: 'Oooh Baby', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}


#icon {

    padding-top: 25px;
    padding-left: 40px;
   
}


ul
{
list-style-type: none;
margin: 0;
padding: 0;
}


li {
    display: inline;
    float: right; 
}


li a {
    display: block;
    padding: 0 15px;
    color: black;
    font-family: 'Oooh Baby', cursive;
    font-size: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddbea9;
}



.prodcuts-list
{
    position: absolute;
   

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly


}
.product {
   float: left;
 


}

h4, p {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   text-align: center;
}

p
{
color: red;
font-size: 20px;
}

.delete-price {
    color: gray;
    font-size: 15px;
    text-decoration: line-through;
}


.product1 {
   position: relative;
}

.prodcut2 {
    position: relative;
}

.stampa {
  
    background-color: black;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;

}
.stampa-text {
text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    color: white;

}

